* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}

body {
  color: rgb(22, 20, 20);
  background-color: aqua;
}
h1{
  font-size: 4.5rem;
}
h2{
  font-size: 3.5rem;
}
p,li,form{
  font-size: 2rem;
}
header{
  max-width: 90vw;
  margin: 0 auto;
  background: rgb(168, 77, 77);
}
header >nav >ul {
  list-style: none;
}
header > .logo {
  float: left;
}
header > nav {
  float: right;
}
.clear {
  clear: both;
}

header > nav > ul >li{
  float:left;
  padding-right: 1.5rem;
}

header >nav > ul> li >a{
  text-decoration: none;
}
form input,form label{
  display:block;
}

main{
  img
}
